In [1]:
import pandas as pd
import plotly.express as px

df =  pd.read_csv('../data.csv')
df = df.drop(columns=['Unnamed: 0', 'ID_STAT'])
df = df.drop_duplicates()
df['TIME_STAMP'] = pd.to_datetime(df.TIME_STAMP)
print(df.shape)
df.head()

(494715, 4)

,TIME_STAMP,CLIENTCODE,USERAGENT,URL
0,2022-09-25 11:56:17,1953307,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,/secure/main.aspx
1,2022-09-25 11:56:17,4633710,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,/secure/CardOperations.aspx
2,2022-09-25 11:56:16,2475742,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,/secure/main.aspx
3,2022-09-25 11:56:13,3288746,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,/secure/cardblock/create.aspx
4,2022-09-25 11:56:12,3074672,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,/secure/dcards.aspx

## First Look

In [65]:
print('Пропусков нет!')
df.isna().sum()

Пропусков нет!

TIME_STAMP    0
CLIENTCODE    0
USERAGENT     0
URL           0
dtype: int64

In [66]:
print('разнос дней')
display(df.TIME_STAMP.agg(['max','min']))
df.TIME_STAMP.dt.date.value_counts()

разнос дней

max   2022-09-25 11:56:17
min   2022-09-20 08:18:38
Name: TIME_STAMP, dtype: datetime64[ns]

2022-09-20    104040
2022-09-23    100164
2022-09-22     96710
2022-09-21     95608
2022-09-24     78050
2022-09-25     20143
Name: TIME_STAMP, dtype: int64

In [67]:
print('Уникальных ссылок: ',len(df.URL.unique()))
print('Уникальных пользователей: ',len(df.CLIENTCODE.unique()))
print('Уникальных параметров устройства входа в систему: ',len(df.USERAGENT.unique()))
print('Распределение ссылок:')
# px.bar(df.URL.value_counts()).show()
display(df.URL.value_counts())

Уникальных ссылок:  352
Уникальных пользователей:  38121
Уникальных параметров устройства входа в систему:  6725
Распределение ссылок:

/secure/main.aspx                                        107125
/secure/CardOperations.aspx                               32243
/secure/deps.aspx                                         24178
/secure/PaymentForm.aspx                                  24016
/secure/dcards.aspx                                       23631
                                                          ...
/secure/informingsettings/operationsinsystem.aspx             1
/secure/servicepackages/smsinform/create.aspx                 1
/secure/depositAllInclusive/changeacc/create.aspx             1
/secure/financecons/fcgoals.aspx                              1
/secure/autopaymentsmobile/all/debt/confirmation.aspx         1
Name: URL, Length: 352, dtype: int64

In [68]:
df.URL.value_counts()[df.URL.value_counts()<=20].__len__()

100

In [70]:
df.CLIENTCODE.value_counts()[df.CLIENTCODE.value_counts()<3].__len__()

9556

In [69]:
print('Распределение клиентов:')
# px.bar(df.CLIENTCODE.value_counts().reset_index(drop=True)).show()
display(df.CLIENTCODE.value_counts())

Распределение клиентов:

1260796    781
5217094    520
5043204    393
647015     367
5363945    291
          ...
2555779      1
1329554      1
100641       1
3357292      1
5409245      1
Name: CLIENTCODE, Length: 38121, dtype: int64